
	<div>
		<h1>Summary Page</h1>
		
		<p>		
			<button id="enter" ng-click="enter('/name')">Add an Employee</button>
		</p>
<!-- 		<p>		 -->
<!-- 			<button id="third" ng-click="go('/name/details')">Go to Edit Page</button> -->
<!-- 		</p> -->
		 <br/>
        <br> <b> EMPLOYEE TABLE :: </b> 
        <br>
        <br/>
        
        Any: <input ng-model="search.$"> <br>
        Name only <input ng-model="search.fName"><br>
        Phone only <input ng-model="search.lName"><br>
        Equality <input type="checkbox" ng-model="strict"><br>
        
        <div>
            <li >FIRST NAME  |    LAST NAME   |   EMAIL ID    |   Phone Number</li>
            <ul ng-repeat="emp in employeelist  | filter:search:strict" >
                
                <li >{{emp.fName   }} {{emp.lName}} {{emp.eId}} {{emp.pNumber}}</labe> </li>
            </ul>
        </div>

        
	</div>
