<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div>
		<h1>This is a View Page</h1>
	<p>		 
			<button id="enter2" ng-click="go('/name/details')">Go to Edit page</button> 
 		</p> 
<!-- 		<button id="back1" ng-click="back()">Back</button>  -->
	<form name = "empForm">
     <div>
       FIRST NAME:
        <br/>
        <input type="text" name="fname" id = "fname" value="gunjan" ng-model="data.fname" required> </input> 
        <span class="red" ng-show="empForm.fname.$invalid">
        <span ng-show="empForm.fname.$error.required">*</span>
        </span>
        <br/>LAST NAME:
        <br/>
        <input type="text" name="lname" id = "lname" ng-model="data.lname" ></input> 
        <span class="red" ng-show="empForm.lname.$invalid">
      	<span ng-show="empForm.lname.$error.required">*</span>
 		</span>
        <br/>EMAIL ID:
        <br>
        <input type="email" name="eid" id="eid" ng-model="data.eid" ></input> 
		<span class="red" ng-show="empForm.eid.$invalid">
        <span ng-show="empForm.eid.$error.required">*</span>
        <span ng-show="empForm.eid.$error.email">*</span>
        </span>
        <br/>Phone Number:
        <br>
        <input type="number" name="pnumbr" id="pnumbr" ng-model="data.pnumbr" ></input> 
        <span class="red" ng-show="empForm.pnumbr.$invalid">
      	<span ng-show="empForm.pnumbr.$error.required">*</span>
		</span>
        <br>
        <input type="submit" value="Submit" ng-click="addRow(data)" class="btn btn-primary" />
        <br/>
        </div>
        </form>
	</div>
</body>
</html>